.App {
  text-align: center;
}

body {
  width: 100vw;
  /* overflow: hidden; */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul,
li {
  list-style: none;
}

.ticket {
  display: flex;
  background-color: #8e44ad;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.ticket_text {
  font-size: 13px;
  display: block;
  padding: 0;
  color: #fff5f5;
}

.menu {
  padding: 10px 0;
}
.list_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.list_menu_item {
  padding: 0 10px;
}

.list_menu_item a p {
  text-transform: uppercase;
}
.menu_hove {
  display: none;
  position: absolute;
}
.menu:hover > .menu_hove {
  display: block;
}

.position-menu {
  position: absolute;
  top: 35px;
  width: 100%;
  max-height: calc(100% - 40px);
  height: 100px;
}

.position-menu:hover {
  background-color: white;
}
